.usersTab {
    .user {
        border-radius: 1vh;
    }
    .user-hovered {
        background-color: #343a40;
    }
}

.usersTab-title {
    font-size: 2.5vh;
}

.usersTab-list {
    margin-top: 1vh;
}
