.messenger {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.messenger-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.messenger-header {
    background-color: #212529;
    padding: 1vh;
}
.messenger-messages {
    display: flex;
    align-items: flex-end;
    flex: 1;
    margin-bottom: 2vh;
}
.messenger-messages__list__item {
    width: 100%;
}
.messenger-input {
    display: flex;
    margin: 2vh;
    background-color: #212529;
    border: 0;
    border-radius: 1vh;

    height: 6vh;
}

$input-font-size: 2.25vh;
.messenger-input__field {
    margin: 2vh;
    flex-grow: 1;
    background-color: #212529;
    border: 0;
    border-radius: 0.1vh;
    outline: none;

    font-family: 'Roboto';
    margin-left: 1vh;
    font-weight: lighter;
    font-size: $input-font-size;
}
.messenger-input__field::placeholder {
    font-family: 'Roboto';
    margin-left: 1vh;
    font-weight: lighter;
    font-size: $input-font-size;
    color: #E8E8E8;
}
