.message {
    background-color: #88C0D0;
    border-radius: 1.5vh;
    width: fit-content;
    padding: 1.5vh;
    margin: 1vh 0 0 2vh;
}
.message-content {
    font-size: 2.5vh;
}

.myMessage {
    background-color: #A3BE8C;
    text-align: right;
}
.message-date {
    margin-left: 1vh;
}
